body{
    padding: 0;
    margin: 0;
    background: rgb(109, 157, 212);
    background-image: url("omikuji\ back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.content{
    margin-left: -30vw;
}

.date{
    position: absolute;
    top: 25px;
    right: 30px;
    color: aliceblue;
}

h2{
    margin-top:2.5vh;
    margin-bottom: 7.5vh;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 5rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.3em;
}

.section{
    text-align: center;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}


.btn{
    width: 500px;
    height: 500px;

    background-color: transparent;
    border: none;
    position: relative;

    mix-blend-mode: multiply;
    padding: 15px;
    cursor: pointer;
}

.btn-bg,
.btn-text{
    position: absolute;
    inset: 0;
}

.btn-bg{
    width: 100%;
    height: 100%;

    animation: spin 20s linear infinite;
}

.btn-text{
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 600;
    font-family: "Yu Mincho";
}

.btn:hover .btn-bg{
    animation-play-state: paused;
}

.emoji-name{
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(245, 178, 50);

    margin-top: 40px;

    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*点xxx 都是class
不带点的都是本身有的定义
padding=内间距，内容和边缘的距离
margin=外边距
display:flex=css管理布局
flex-direction=排列方向
justify-content=主方向排列（flex-direction）
align-items=负方向排列（剩下的）
font-family=字体选择，优先-其次
rem=相对root字体大小，通常=16px，保持比例固定，方便整体调整
border边框
rgb（）最后一个是颜色透明度
border-radius圆角程度
filter改为黑白
transition是filter的应用效果及动画时长
transform有scale/rotate/translateY等，放大旋转移动
opacity透明度
gap子元素间距
position定位相对绝对
